player-connection-mode=Listen
player-connection-guid=2585995698
player-connection-debug=0
player-connection-project-name=ShroudedDepths
player-connection-ip=192.168.1.228
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=230299972c164fd1a064f61346d59943
